@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1315;
}

.rotate {
  animation: rotate 15s linear infinite;
}

.background {
  background-image: url("https://i.ibb.co/1KBXJKW/counter-bg.png");
 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
